<h1>
New Group!
</h1>

<p>
<%= link_to 'Back', welcome_index_path, class: "btn"  %>
</p>

<%= form_for @group do |f| %>
  <% if @group.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@group.errors.count, "error") %> prohibited
      this group from being saved:</h2>
    <ul>
    <% @group.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  <div class="form group">
  
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
 
  <div class="form group">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
 
  <div class="form group">
    <%= f.submit "Add Posse", class: 'btn' %>
  
  </div>
<% end %>

