<h1>All My Group Events</h1>

<p>
<%= link_to 'Back', welcome_index_path, class: "btn"  %>
</p>

<table class="table table-striped">
  <tr>
    <th>Event</th>
    <th>Posse</th>
    <th>Date and Time</th>
	<th>Location</th>
	<th>RSVP</th>
  </tr>
 
  <% @myevents.each do |event| %>
    <tr>
	      <td><%= link_to event.title, group_event_path(event.group_id, event) %></td>
	      <td><%= link_to event.group.name, group_path(event.group) %></td>
	      <td><%= event.datetime %></td>
		  <td><%= event.location %></td>
		<td><% rsvp = current_user.rsvps.find_by event_id: event.id %>
			<% if rsvp.nil? %>
			<% else %>
		      <% if rsvp.attending == false %>
		      <%= link_to "Attend", attend_path(event), method: :attend, class: 'btn' %>
		      <% else %>
		      I'm Going!
			  <% end %>
			<% end %></td>
    </tr>
  <% end %>

</table>

