<h1>
Edit <%= @event.title %>
</h1>

<p>
<%= link_to 'Back', group_event_path(@event.group_id, @event), class: "btn"  %>
</p>

<%= @event.description %><br>

<%= form_for([@group, @event]) do |f| %>
  <% if @event.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="form group">
    <%= f.label :location %><br>
    <%= f.text_field :location, placeholder: @event.location %>
  </div>

 <div class="form group">
    <%= f.label :datetime %><br>
    <%= f.datetime_select :datetime, {}, class: 'span2' %>
  </div>
 
  <div class="form group">
    <%= f.submit "Modify Event", class: 'btn' %>
  
  </div>
<% end %>


<h4>Comments:</h4>
<% @event.comments.each do |comment| %>
<p>
<strong><%= comment.user.first_name + " " + comment.user.last_name %>: </strong><%= comment.body %>
<% if current_user.email == comment.user.email %>
  <%= link_to 'Delete', [@event.group, comment.event, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</p>
<% end %>